{% extends 'admins/base.html' %}

{% block context %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Пункты выдачи</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Пункты выдачи
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Наименование</th>
                                    <th>Город</th>
                                    <th>Адрес</th>
                                    <th>Долгота</th>
                                    <th>Широта</th>
                                    <th>Активный</th>
                                    <th>Статус</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Наименование</th>
                                    <th>Город</th>
                                    <th>Адрес</th>
                                    <th>Долгота</th>
                                    <th>Широта</th>
                                    <th>Активный</th>
                                    <th>Статус</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for store in object_list %}
                                    <tr>
                                        <td><a href="{% url 'admins:admin_stores_update' store.id %}"
                                               style="color: dodgerblue">{{ store.name }}</a>
                                        </td>
                                        <td>{{ store.city }}</td>
                                        <td>{{ store.address }}</td>
                                        <td>{{ store.lat }}</td>
                                        <td>{{ store.lon }}</td>

                                        <td class="text-center">
                                            {% if store.is_active %}
                                                <i class="fas fa-check-circle"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if store.is_active %}
                                                <form action="{% url 'admins:admin_stores_delete' store.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <input class="btn btn-danger btn-block" type="submit"
                                                           value="Деактивировать">
                                                </form>
                                            {% else %}
                                                <form action="{% url 'admins:admin_products_delete' store.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <input class="btn btn-success  btn-block" type="submit"
                                                           value="Активировать">
                                                </form>
                                            {% endif %}
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'admins:admin_stores_create' %}">
                            <button class="btn btn-success">Создать пункт выдачи</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; GeekShop 2021</div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
